CompileFlags:
  CompilationDatabase: build
  Compiler: clang-cl
Style:
  QuotedHeaders: ["^src/.*"]
  AngledHeaders: ["^.*"]
Diagnostics:
  ClangTidy:
    Add:
      - "bugprone-*"
      - "clang-analyzer-*"
      - "portability-*"
  MissingIncludes: Strict
Completion:
  ArgumentLists: Delimiters
InlayHints:
  BlockEnd: true
